<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTRATION - ZURI HOSPITAL</title>
        {% load static %}

      <!-- Favicons -->
  <link href="{% static 'assets/img/favicon2.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link rel="stylesheet" href="{% static 'registrationcss.css' %}">
</head>
<body>
         {% block content %}

  <form method="post" action="">
  <h2>Registration</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
      <br><br>
  <a href="{% url 'login_patient' %}">Have an account?</a>
  </form>
{% endblock %}



</body>
</html>